section{
    display: flex;
}

.section-one{
    align-items: center;
    font-size: 120%;
}

.div-left-one-body h2 {
    text-align: center;
    color: rgb(109, 41, 114);
    margin-top: 0;
}

.div-right-one-body{
    text-align: center;
}

.section-one div{
    width: 50%;
    padding-top: 5%;
}

.section-one img {
    width: 300px;
    height: 300px;
}

.section-two {
    margin-top: 10%;
    font-size: 120%;
}

.section-two div{
    width: 50%;
}

.div-right-two-body{
    margin-left: 10%;
    background-color: rgba(127, 255, 212, 0.201);
    border-radius: 20%;
}

.div-right-two-body h2{
    text-align: center;
    color: rgb(109, 41, 114);
    margin-bottom: 10%;
}

.section-three {
    display: block;
    margin-top: 5%;
    font-size: 120%;
    
}
.section-three h2{
    width: 100%;
    text-align: center;
    color: rgb(109, 41, 114);
}

.section-three img{
    width: 100px;
    height: 100px;
}

.div-section-three {
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
}

.div-section-three div {
    width: 33%;
    padding-left: 5px;
    padding-right: 5px;

}

.div-left-three-body{
    text-align: center;
}


.div-middle-three-body{
    text-align: center;
}

.div-right-three-body{
    text-align: center;
}