section{
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.section-one{
    /* align-items: center; */
    font-size: 110%;
}

.section-one div{
    padding-top: 0;
}

.div-left-one-body{
    background-color: rgba(255, 228, 196, 0.474);
}

.div-left-one-body h2 {
    text-align: center;
    color: rgb(109, 41, 114);
    margin-top: 0;
}

.div-right-one-body{
    text-align: center;
}

.section-one div{
    width: 50%;
    padding-top: 10px;
    margin-top: 5%;
    border-radius: 10%;
}

.section-one img {
    width: 200px;
    height: 200px
}

.section-two {
    margin-top: 10%;
    font-size: 120%;
    flex-wrap: wrap;
    font-size: 110%;
}

.section-two div{
    width: 50%;
}

.div-right-two-body{
    /* margin-left:5%; */
    text-align: center;
    background-color: rgba(127, 255, 212, 0.201);
    border-radius: 20%;
}

.div-right-two-body h2{
    text-align: center;
    color: rgb(109, 41, 114);
    margin-bottom: 10%;
}

.div-left-two-body{
    text-align: center;
}

.div-left-two-body img {
    /* width: 250px; */
    /* height: 400px; */
    width: 60%;
    height: 70%;
}

.section-three {
    display: block;
    margin-top: 5%;
    font-size: 120%;
    
}
.section-three h2{
    width: 100%;
    text-align: center;
    color: rgb(109, 41, 114);
}

.section-three img{
    width: 100px;
    height: 100px;
}

.div-section-three {
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
}

.div-section-three div {
    width: 33%;
    padding-left: 5px;
    padding-right: 5px;

}

.div-left-three-body{
    text-align: center;
}


.div-middle-three-body{
    text-align: center;
}

.div-right-three-body{
    text-align: center;
}